/build
/build_dist.bat
/debug_research_roi.png
/dist
/ke_yan_fa_enhanced.png
/ke_yan_fa_variant9.png
/main_controller.spec
/output
/research_current_enhanced.png
/research_current_variant9.png
/runtime_log.txt
/screenshot_from_socket.png